html{
	height:100%;
}
body{	
	background-image: url("../../assets/logo.png");
	color:black;
	background-color:#343a40;
	text-align:center;
	background-size:contain;
	background-repeat: no-repeat;
	height:auto;
}

.name{
	font-family:"Comic Sans MS", cursive, sans-serif;
	margin-top:2%;
	background-image: url("../../assets/logo.png");

}