html{
	height:100%;
}
/* Styling for the body */
body{	
	background-image: url("../../assets/logo.png");
	color:black;
	background-color:#343a40;
	background-size:contain;
	background-repeat: no-repeat;
	height:auto;
}

 /* Footer styling */
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #2d3944;
    text-align: center;
}
