html{
	height:100%;
}
/* Styling for the body */
body{	
	text-align:center;
	background-size:contain;
	background-repeat: no-repeat;
	height:100%;
}

/* css for the club images */
.club-image {
	float: left;
	left: -42%;
	height: 60%;
	width: 15%;
	border: 3px solid
	
}
/* This is to fill in the rating stars. */
.checked {
	color: orange;
  }
  
 /* Footer styling */
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #2d3944;
    text-align: center;
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
  /*
   Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
      display: block;
    }
    #map {
        margin: auto;
        float: none;
        display: block;
      }
    iframe {
        width: 300
    }
  }