html{
	height:100%;
}
body{	
	background-image: url("../../assets/logo.png");
	color:black;
	background-color:#343a40;
	text-align:center;
	background-size:contain;
	background-repeat: no-repeat;
	height:100%;
}

.name{
	font-family:"Comic Sans MS", cursive, sans-serif;
	margin-top:2%;
	background-image: url("../../assets/logo.png");

}

.club-image {
	float: left;
	left: -42%;
	height: 60%;
	width: 15%;
	border: 3px solid
	
}
.checked {
	color: orange;
  }

/*
.rating {

}

.desc{
}
 
   Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
      display: block;
    }
    #map {
        margin: auto;
        float: none;
        display: block;
      }
    iframe {
        width: 300
    }
  }