html{
	height:100%;
}
body{
	color:black;
	background-color:#515253;
	text-align:center;
	background-size:contain;
	background-repeat: no-repeat;
	height:auto;
}

 /* Footer styling */
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #2d3944;
    text-align: center;
}

.search-form h2{
	color: white;
}

.custom-select{
	background-color: black;
	color:white;
}

.name, .name::placeholder {
	background-color:black;
	color: white;

}
