html{
	height:100%;
}
body{
	color:black;
	background-color:#515253;
	text-align:center;
	background-size:contain;
	background-repeat: no-repeat;
	height:auto;
}
.search-form h2{
	color: white;
}

.custom-select{
	background-color: black;
	color:white;
}